<web-app>
    <display-name>contextholder</display-name>
    <listener>
        <listener-class>no.nav.apiapp.ApiAppServletContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>springKontekstKlasse</param-name>
        <param-value>no.nav.sbl.config.ApplicationConfig</param-value>
    </context-param>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Ubeskyttet</web-resource-name>
            <url-pattern>/internal/*</url-pattern>
            <url-pattern>/api/events/*</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Alt annet beskyttet</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>**</role-name>
        </auth-constraint>
    </security-constraint>

    <resource-ref>
        <res-ref-name>jdbc/modiacontextholderDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>